$base_side_border: 13px solid transparent;
$base_bottom_border: 50px solid $base_colour;

$foot_side_border: 16px solid transparent;
$foot_bottom_border:5px solid $base_colour;

$greyshadow_side_border: 3px solid transparent;
$greyshadow_bottom_border: 12px solid $grey_shadow;

$alert_border: 1px solid #848484;
