/*-----Terminal window------*/
$terminal_body:#63de00;
$toolbar_colour: #cfcfcf;
$redlight: #f41b16;
$active_redlight: #972f2e;
$yellowlight: #f4a316;
$active_yellowlight: #ae4f1e;
$greenlight: #4cae2e;
$active_greenlight: #48752b;

/*------Monitor-------*/
$base_colour: #e8ebf0;
$grey_shadow: #d8dbe1;
$screen_border: #474e5d;

/*-----Alert dialog----*/
$alert_background_colour: #ededed;
