/*--------Terminal window-------*/
$toolbar_gradient: top, $toolbar_colour 0%, #a8a8a8 100%;
$redlight_gradient: top, $redlight 0%, #fc7471 100%;
$redlight_active_gradient: top, $active_redlight 0%, #fc7471 100%;
$yellowlight_gradient: left, $yellowlight 0%, #fcc371 100%;
$yellowlight_active_gradient: top, $active_yellowlight 0%, #fcc371 100%;
$greenlight_gradient: top, $greenlight 0%, #dafc71 100%;
$greenlight_active_gradient: top, $active_greenlight 0%, #dafc71 100%;
$folder_body_gradient: top, #b8cfe0 0%, #86adc8 100%;
